<!-- views/about.ejs -->

<html>
  <head>
  </head>
  <body>
    <canvas id="rectangle" width="500" height="500"></canvas>
    <a href="/">Retour à la</a>
    <button onclick="drawRectangle()">test</button>
   
    <script src="moving.js"></script>
  </body>
</html>

